<div class="jw-profile-large">
  <img src="{{user.profile_picture}}" />
      <p>
        Username: {{user.username}}
      </p>
      <p>
        Follows: {{user.counts.follows}}
      </p>
      <p>
        Followers: {{user.counts.followers}}
      </p>
</div>
