  <div class = "main">
    <img src="{{user.profile_picture}}" class="ProfilePicSize" />
      <form>
          <p>
            Username: {{user.username}}
          </p>
          <p>
            Follows: {{user.counts.follows}}
          </p>
          <p>
            Followers: {{user.counts.followers}}
          </p>
      </form>
  </div>
