<div class="content">
  {{#each tags}}
    <div>
      <form action="/user/savedsearch" method="get">
      #{{this}}
      <input type="hidden" name="hidden" value="{{this}}"><button type="Submit" name="Delete">Delete</button>
    </form>
    </div>
  {{/each}}
</div>
