<div class="content">
  <form action="/user/addtag" method="get">
    <h3>
      Add
      <button type="Submit">
      #{{search_input}}
    </button type="Submit">
    <input type="hidden" name="hidden" value="{{search_input}}">
    to saved searches?
    </h3>
  </form>
</div>
<div class="imagecontent">
  {{>feed}}
</div>
