<div class="content">
  <h3>Add <button type="Submit"><form action="search" method="post">

  </form>#{{search_input}}</button> to saved searches?</h3>
</div>
<div class="imagecontent">
  {{>feed}}
</div>
